<header id="header">
  <div h-20 px-5 md:px-10 bg-primary flex justify-between items-center>
    <div>
      <a href="/" flex items-center>
        <% if(theme.logo) { %>
        <img src="<%= theme.logo %>" alt="logo" h-10 w-10 />
        <% } %>
        <span hidden md="block" ml-2 text="white 5"><%= config.title %></span>
      </a>
    </div>
    <div hidden md="block">
      <div flex gap-5>
        <% for (const name in theme.menu){ %>
        <a href="<%- url_for(theme.menu[name]) %>" text="white 5 shadow-xl" hover="text-gray-3">
          <%= name %>
        </a>
        <% } %>
      </div>
    </div>
    <div md="hidden" relative>
      <div id="menu-expand-button" select-none>
        <div i-fad-h-expand h-7 w-7 bg-white></div>
        <div i-iconamoon-close-bold h-7 w-7 bg-white hidden></div>
      </div>
      <div id="menu-expand-container" absolute right-0 hidden>
        <div flex="~ col" gap-1 min-w-30 bg-primary p-2 rounded-xl b="3 solid amber" animate-bounce-in>
          <% for (const name in theme.menu){ %>
          <a href="<%- url_for(theme.menu[name]) %>" text="white 5 shadow-xl" hover="text-gray-3">
            <%= name %>
          </a>
          <% } %>
        </div>
      </div>
    </div>
  </div>
</header>